@import './styles/theme.css';
@import './styles/icons.css';
@import './styles/effects.css';
@import './styles/cursor.css';



@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Ubuntu', system-ui, sans-serif;
  color: var(--os-color-text);
  background-color: var(--os-color-bg);
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

.about-file-svg svg {
  width: 100%;
  height: auto;
  display: block;
}


